/*文本位置*/
#divCover {
    position: absolute;
    width:100%;
    top:30%;
    left:100px;
}
#divAboutMe {
    margin:0;
    padding:0;
    width:84%;
    height:80%;
    margin-left:8%;
    margin-right:8%;
    margin-top:16px;
}
#divWorkExperience {
    margin:0;
    padding:0;
    width:84%;
    height:80%;
    margin-left:8%;
    margin-right:8%;
    margin-top:16px;
}
#divSkill {
    margin:0;
    padding:0;
    width:84%;
    height:80%;
    margin-left:8%;
    margin-right:8%;
    margin-top:16px;
}
#divWorks {
    margin:0;
    padding:0;
    width:84%;
    height:80%;
    margin-left:8%;
    margin-right:8%;
    margin-top:16px;
}

/*设置字体样式*/
.fontStyle {
    font-family:"微软雅黑";
    font-size:80px;
    color:white;
    font-weight:bold;
}
