
#ulContent {
    margin: 0;
    list-style-type: none;
    height: 80%;
    -webkit-padding-start:0px;
}

    #ulContent li {
        float: left;
        width: 30%;
        height: 100%;
    }
        #ulContent li:not(:first-child) {
            margin-left:5%;
        }

    #ulContent div {
        color: white;
        font-family: "微软雅黑";
        font-size: 20px;
        display: block;
        text-align: left;
        padding: 10px 10px 10px 20px;
        margin-left: 50px; 
        text-overflow: ellipsis;    
        overflow: hidden;
    }    

    #ulContent div {
        background-color:green;
        height:90%;
    }

    #ulContent div:first-child {
        background-color:grey;
        height:10%;
        line-height:10%;
        min-height:85px;
        text-align:center;
        vertical-align:middle;
    }
    #ulContact div:first-child h1 {
        height:100%;
    }

    .clear{ 
        clear:both;
    } 